<!DOCTYPE html>
<html class="ui-mobile">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge"/>-->
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width"/>
    <title>币世界快讯首页</title>
    <meta name="keywords" content="比特币,bitcoin,比特币网址导航,海外炒币,比特币行情"/>
    <meta name="description" content="比特币等数字货币交易所投资理财市场行情第一站"/>

    <link rel="stylesheet" href="/ws/css/jquery-labelauty.css"/><!--筛选控件-->
    <link href="/ws/css/reset.css" rel="stylesheet" type="text/css"/>
    <link href="/ws/css/public.css?v=1025" rel="stylesheet" type="text/css"/>

    <script src="/ws/js/jquery-1.8.3.min.js"></script>
    <script src="/ws/js/jquery.mobile-1.4.5.min.js"></script>

    <style type="text/css">
        p {
            -webkit-touch-callout: none; /*系统默认菜单被禁用*/
            -webkit-user-select: none; /*webkit浏览器*/
            -khtml-user-select: none; /*早期浏览器*/
            -moz-user-select: none; /*火狐*/
            -ms-user-select: none; /*IE10*/
            user-select: none;
        }
    </style>
    <!--<script type="text/javascript">-->
        <!--jQuery(function ($) {-->
            <!--$("#kuaixun_list").on("taphold", 'p', function (event) {-->
                <!--event.preventDefault();-->
                <!--var obj = $(this).parent().next().children('.share_btn');-->
                <!--shareKuaixun(obj.data('news-id'), obj.data('news-time'));-->
            <!--});-->
            <!--$('#kuaixun_list').on('click', '.share_btn', function (event) {-->
                <!--shareKuaixun($(this).data('news-id'), $(this).data('news-time'));-->
            <!--});-->

            <!--$('p').bind('contextmenu', function (e) {-->
                <!--e.preventDefault();-->
            <!--})-->
        <!--});-->
    <!--</script>-->

</head>

<body>
<header>
    <h1 class="logo" title="币世界-比特币等数字货币交易所投资理财市场行情第一站">
        <a class="ui-link" href="/"></a>
    </h1>
    <ul class="top_nav">
        <li><a href="/" class="this" title="币世界快讯">快讯</a></li>
    </ul>
</header>

<!--顶部导航样式-首页-->
<div class="daynews" id="dateTip" style="display:none;position:fixed; top:0; width:100%;z-index:100;"
     onclick="javascript:reloadPage();">
    <h2 style="margin-bottom:0;">今天</h2>
    <div style="line-height:2.6em;font-size:14px;text-align:center;background-color:#fdf0df"></div>
</div>

<div id="kuaixun_list">
    <div id="kuaixun_list_items" class="daynews dateitem">
    </div>
</div>

<div style="height:30px; margin-bottom: 15px; background-color:white;"></div>
<!--弹窗-->
<div id="overlay" style="display:none"></div>
<div id="qcode_tip" style="left:50%; top:23%; width:80%; padding:0;display:none;">
    <div class="pic_share1"><img src="" width="100%" height="auto" alt=""/></div>
    <div class="closebtn"><a href="javascript:hideTip();">关闭</a></div>
</div>
<!--顶部提示框-->
<!--<div class="top_tips" style="display: none;">请长按图片，将本条快讯推荐给好友</div>-->


<!--<script src="/ws/home/js/wx-share.js"></script>-->
<script src="/ws/sockjs.min.js"></script>
<script type="text/javascript" src="/ws/kuaixun.js"></script>
<!--<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>-->


</body>
</html>

